<!--
  This template loads for the 'tab.activity-detail' state (app.js)
  'activities' is a $scope variable created in the ActivityCtrl controller (controllers.js)
  The ActivityCtrl pulls data from the Activity service (service.js)
  The Activity service returns an array of activity data
-->
<ion-view title="{{activity.name}}">
  <ion-content has-header="true" padding="true">
  <p>
    <img src="{{ activity.user.photo }}" alt="{{ activity.user.username }}" class="user-icon">
    You bought {{ activity.user.name }} {{ activity.amount }} coffees on {{ activity.date }}.
  </p>
  <blockquote>
    <p>{{ activity.message }}</p>
    <cite>- {{ activity.user.name }}</cite>
  </blockquote>
  <div class="map">
    <h2>Map on {{ activity.latlng }}</h2>
  </div>
  </ion-content>
</ion-view>
