<!--
  This template loads for the 'tab.coffee-transaction' state (app.js)
  'user' is a $scope variable created in the GroupCtrl controller (controllers.js)
  The GroupCtrl pulls data from the Group service (service.js)
  The Group service returns an array of user data
-->
<ion-view>


  <form ng-submit="add()" >

    <div>
      <input class="transaction-number" type="number" placeholder="0" ng-model="number">
      <button ng-click='number=number-1' class="transaction-button-left">-</button>
      <button ng-click='number=number+1' class="transaction-button-right">+</button>
    </div>

    <ion-content has-header="true" padding="true" class="transaction-view">
      <p ng-if="number > 0">
        {{user.name}} owes you {{ number}} coffee{{number| pluralizer}}
      </p>

      <p ng-if="number < 0">
        You owe {{user.name}} {{ number | absolute }} coffee{{number| pluralizer}}
      </p>

      <p ng-if="number == 0">
        You don't owe nobody nothin'.
      </p>


      <div class="list">
        <label class="item item-input">
          <textarea placeholder="Leave a message"></textarea>
        </label>
      </div>

      <input class="button button-block button-positive" type="submit" value="Confirm" />

    </ion-content>
  </form>
</ion-view>
