<!--
  This template loads for the 'tab.coffee-transaction' state (app.js)
  'user' is a $scope variable created in the GroupCtrl controller (controllers.js)
  The GroupCtrl pulls data from the Group service (service.js)
  The Group service returns an array of user data
-->
<ion-view title="Exchange with {{ user.username }}">

    <ion-content has-header="true" padding="false" class="transaction-view">

      <form ng-submit="add()" >

        <div transaction-bg>
          <input class="transaction-number" type="number" placeholder="0" ng-model="number">
          <button ng-click='number=number-1' class="transaction-button-left">-</button>
          <button ng-click='number=number+1' class="transaction-button-right">+</button>
        </div>

        <p class="transaction-statement" ng-if="number > 0">
          {{user.name}} owes you <span transaction-color>{{ number}}</span> coffee{{number| pluralizer}}
        </p>

        <p class="transaction-statement" ng-if="number < 0">
          You owe {{user.name}} <span transaction-color>{{ number | absolute }}</span> coffee{{number| pluralizer}}
        </p>

        <p class="transaction-statement" ng-if="number == 0">
          You and {{user.name}} are even stevens.
        </p>

        <textarea class="blockquote" placeholder="Leave a message"></textarea>
        <input class="button transaction-submit" type="submit" value="Confirm" ng-disabled="number == 0" transaction-bg/>

      </form>

    </ion-content>
  </form>
</ion-view>
