<!--
  This template loads for the 'tab.coffee-transaction' state (app.js)
  'user' is a $scope variable created in the GroupCtrl controller (controllers.js)
  The GroupCtrl pulls data from the Group service (service.js)
  The Group service returns an array of user data
-->
<ion-view title="{{user.name}}">
  <ion-content has-header="true" padding="true">

    <form ng-submit="add()" >


      <input type="number" placeholder="0" ng-model="number">
      <button ng-click='deincrement()'>-</button>
      <button ng-click='increment()'>+</button>

      <p>{{user.name}} owes you <span class="highlight">{{ number }}</span> coffee.</p>

      <div class="list">
        <label class="item item-input">
          <textarea placeholder="Leave a message"></textarea>
        </label>
      </div>

      <input class="button button-block button-positive" type="submit" value="Confirm" />

    </form>
  </ion-content>
</ion-view>
