<ion-view title="Activity">
  <ion-header-bar>
    <h1 class="title">Activity</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="transaction in transactions | orderBy:'-date'"
                class="item-text-wrap"
                href="#/tab/transaction/{{transaction.id}}">

        <img ng-src="{{ users[transaction.from_user_id].avatar_url }}" alt="{{ users[transaction.from_user_id].display_name }}" class="user-icon-left">
        <span class="debt-badge" colorize-on="{{transaction.amount}}" colorize-property="background">{{transaction.amount | absolute}}</span>

        <div ng-if="transaction.amount > 0">
          <p class="trailer-0">
            You bought {{ users[transaction.from_user_id].display_name }} {{ transaction.amount }} coffee{{transaction.amount | pluralizer}}.
            <span class="light-text">{{ transaction.date | relativeDate }}</span>
          </p>
        </div>

        <div ng-if="transaction.amount < 0">
          <p class="trailer-0">
            {{ users[transaction.from_user_id].display_name }} bought you {{ transaction.amount | absolute }} coffee{{transaction.amount | pluralizer}}.
            <span class="light-text">{{ transaction.date | relativeDate }}</span>
          </p>
        </div>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
