<ion-view title="Exchange">
  <ion-content class="has-header">

    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Search">
      </label>
    </div>

    <ion-list>
      <ion-item ng-repeat="user in group"
                class="item-avatar"
                href="#/tab/exchange/{{user.id}}">

        <img src="{{ user.photo }}" alt="{{ user.username }}">
        <span class=""> {{user.name}}</span>

      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>

