<!-- Me tab shows overall debt/credit to organization -->
<ion-view>
  <ion-header-bar class="bar bar-transparent">
    <button menu-toggle="left" class="button button-icon icon ion-navicon white-text"></button>
  </ion-header-bar>

  <ion-pane user-color>
    <img class="user-icon me-user-icon" ng-src="{{ user.avatar_url }}" alt="{{ user.display_name }}">
    <!--<input type="number", ng-model="balance">-->
    <h1 class="me-debt-number white-text">{{ balance | absolute }}</h1>

    <h4 class="white-text me-debt-description" >
      <span ng-if="balance < 0">
        You owe {{ balance | absolute }} coffee{{ balance | pluralizer }} to {{ group.organization_name }}
      </span>

      <span ng-if="balance > 0">
        {{ group.organization_name }} owes you {{ balance }} coffee{{ balance | pluralizer }}.
      </span>

      <span ng-if="balance == 0">
        You're all even!
      </span>
    </h4>
  </ion-pane>
</ion-view>
