<!--
  Create tabs with an icon and label, using the tabs-positive style.
  Each tab's child <ion-nav-view> directive will have its own
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">


  <!-- Me Tab -->
  <ion-tab title="Me" icon="icon ion-home" href="#/tab/me">
    <ion-nav-view name="tab-me"></ion-nav-view>
  </ion-tab>


  <!-- Exchange Tab -->
  <ion-tab title="Exchange" icon="icon ion-heart" href="#/tab/exchange">
    <ion-nav-view name="tab-exchange"></ion-nav-view>
  </ion-tab>


  <!-- Activity Tab -->
  <ion-tab title="Activity" icon="icon ion-gear-b" href="#/tab/activity">
    <ion-nav-view name="tab-activity"></ion-nav-view>
  </ion-tab>


</ion-tabs>
