.auth {
  background-color: $dark-gray;
}

.auth-title {
  color: $white;
  text-align: center;
  padding-top: 2.5vh;
}

.github-logo {
  margin: auto;
  text-align: center;
  padding: 15vh 0 5vh 0;
}

.auth-button {
  color: $white;
  text-align: center;
  font-size: 1.25rem;
}