.item-input-inset {
  margin-top: 1px;
}

%transaction-button {
  position: absolute;
  top: 0;
  padding: 36px 64px;
  @extend %knockout;
  font-size: 64px;
  color: $white;
  background: transparent;
  border: none;
}

.transaction-button-left {
  @extend %transaction-button;
  left: 0
}

.transaction-button-right {
  @extend %transaction-button;
  right: 0;
}

input[type="number"].transaction-number {
  height: auto;
  padding-bottom: 12px;
  @extend %knockout;
  font-size: 124px;
  text-align: center;
  color: $white;
  background-color: transparent;
}

.transaction-statement {
  @include box-sizing(border-box);
  width: 90%;
  margin: 1em auto;
  font-size: 2em;
  line-height: 1.25em;
  color: $dark-gray;
}

.transaction-message {
  width: 90%;
  @include box-sizing(border-box);
  height: 20vh;
  padding: 1.25em 1em;
  margin: 1em auto 2em auto;
  line-height: 1.25em;
  color: $light-gray;
  border: none;
  background-size: contain;
  resize: none;
  overflow-y: hidden;
}

input.transaction-submit {
  display: block;
  width: 90%;
  margin: 0 auto;
  font-size: 1.5em;
  color: $white;
  border: none;
  &[disabled]{
    opacity: 0.1;
  }
}

