// Our Reset Stuff
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Ionic Overrides
.item-avatar > img:first-child {
  @include border-radius(50%);
}

.item-body {
  padding: 0 0 15px 0;
}

// Project Wide SCSS
body, .pane {
  background: $cream;
}

.bar-transparent {
  background: transparent;
  border: none;
}

.debt-badge {
  position: absolute;
  top: 10px;
  left: 6px;
  min-width: 20px;
  height: 20px;
  padding: 0 2px;
  color: $white;
  font-size: 10px;
  text-align: center;
  line-height: 18px;
  background-color: $green;
  @include border-radius(20px);
  @include box-shadow(0 0 6px rgba(0,0,0,.1));
}

// Tabs
.red .tab-item.tab-item-active {
  color: $red;
}

.green .tab-item.tab-item-active {
  color: $green;
}

// Helpers
.white-text {
  color: $white;
}

p.light-text {
  color: $light-gray;
}

p.large {
  font-size: 1.25em;
}

p.padded {
  padding: 0 15px;
}

p.trailer-0 {
  margin-bottom: 0;
}

p.leader-0 {
  margin-top: 0;
}

// Gravatar images
%user-icon {
  width: 40px;
  height: 40px;
  margin-right: 1em;
  @include border-radius(50%);
  @include box-shadow(0 0 6px rgba(0,0,0,.1));
}

.user-icon {
  @extend %user-icon;
}

.user-icon-left {
  @extend %user-icon;
  float: left;
}

.user-name {
  display: inline-block;
  margin-top: 10px;
}
