// Project Wide SCSS
.bar-transparent {
  background: transparent;
  border: none;
}

.white-text {
  color: $white;
}

p.light-text {
  color: $light-gray;
}

.trailer-0 {
  margin-bottom: 0;
}

// .item-complex.item-text-wrap.item-content {
//   overflow-x: auto;
//   white-space: normal;
// }

// Gravatar images
%user-icon {
  width: 40px;
  height: 40px;
  margin-right: 1em;
  @include border-radius(50%);
  @include box-shadow(0 0 6px rgba(0,0,0,.1));
}

.user-icon {
  @extend %user-icon;
}

.user-icon-left {
  @extend %user-icon;
  float: left;
}

.user-name {
  display: inline-block;
  margin-top: 10px;
}
