.me-status-screen {
  color: $white;
  text-align: center;
  &.green {
    background-color: $green;
  }
  &.red {
    background-color: $red;
  }
}

.me-debt-number {
  font-size: 50vh;
  color: $white;
  padding-top: 10vh;
  @extend %knockout;
}